.storageLoader,
.downloads {
    max-width: 1000px;
    margin: 0 auto;   
}

.storageLoader {
    text-align: center;
}

.attach,
.comment {
    width: 400px;
}

.attach,
.submit,
.comment {
    margin: 1em auto 0;
}

.comment input,
.comment label {
    display: block;
    width: 396px;
    margin: 0 auto;
}

table.downloads {
    margin-top: 2em;
    border-collapse: collapse;
}

.downloads th,
.downloads td {
    border: 1px solid #555;
    padding: 5px 10px;
}

.downloads .name,
.downloads .comment-note {
    width: 40%;
}

.downloads .download {
    width: 20%;
}


