body {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.storageLoader,
.downloads {
    max-width: 1000px;
    margin: 0 auto;   
}

.storageLoader {
    text-align: center;
}

.attach,
.comment {
    width: 400px;
}

.attach,
.submit,
.comment {
    margin: 1em auto 0;
    font-size: 1em;
}

.comment input,
.comment label {
    display: block;
    width: 390px;
    margin: 0 auto;
}

.comment input {
    height: 1.5em;
    background: transparent;
    font-size: 1em;
    padding: 3px 1px 3px 5px;
}

.comment {
    position: relative;
}

.progress,
.percents {
    position: absolute;
}

.progress {
    background-color: aqua;
    top: 2px;
    height: 2em;
    left: 0;
    right: 100%;
    z-index: -1;
}

.percents {
    right: -5.5ex;
    top: .4em;
}

table.downloads {
    margin-top: 2em;
    border-collapse: collapse;
}

.downloads th,
.downloads td {
    border: 1px solid #555;
    padding: 5px 10px;
}

.downloads .name,
.downloads .comment-note {
    width: 40%;
}

.downloads .download {
    width: 20%;
}




