html { 
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    position: relative;
    min-height: 100%;
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
}

.vote-page__content {
    position: absolute;
    width: 100%;
    top: 30%;
    border-radius: 2em;
    background-color: #fae7c7;
    z-index: 102;
    box-shadow: 0 0 15px 6px #fff;
}

.content__illustr {
    position: absolute;
    top:6%;
    width: 60%;
    max-width: 190px;
    height: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/pic.jpg);
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    border-radius: 2em 2em 0 0;
    z-index: 100;
    box-shadow: 0 0 0px 5px #ff9494;
}

.vote-table__heading {
    padding-left: 1em;
    padding-right: 1em;
    margin: .75em 0 .75em;
    font-size: 150%;
    text-align: center;
    color:#f35656
}

.vote-table__body {
    width: 100%;
    font-size: 90%;
}

.vote-table__wrapper {
    padding-left: 2em;
    padding-right: 2em;
    margin-bottom: 2em;
}
                
.vote-table__question input {
    max-width: 80%;
    padding-top: .25em;
    padding-bottom: .25em;
    border-radius: 1ex;
    white-space: normal;
    text-align: inherit;
}

.vote-table__result {
    text-align: right;
}

.content__form {
    background-color: #fdd;
    z-index: 2;
}